#scoreboard {
    z-index: 100;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}

#scoreboard .lead {
    margin-bottom: 0;
}

#active-timer {
    background: rgba(0, 255, 0, 0.6);
}

/* .username {
    float: right;
} */

/* Move Controls */
/* #move-controls {
    display: flex;
    height: 28px;
    border: 1px solid black;
    border-bottom: 0;
}

.move-control {
    flex-grow: 1;
    font-size: 18px;
    text-align: center;
}

.vertical-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.move-control i {
    cursor: pointer;
}

Move List
#move-list-container {
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
    height: 75px;
    font-size: 12px;
    overflow-y: scroll;
}

#move-list {

}

.move-row {
    display: flex;
}

.move {
    flex-grow: 1;
    text-align: center;
} */