#scoreboard {
    z-index: 100;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.user-info {
    flex: 1;
}

.timer {
    width: 90px;
    padding: 4px 10px;
}

.vs {
    padding-left: 10px;
    padding-right: 10px;
}

.user-info:first-child {
    padding-right: 10px;
    text-align: right;
}

.user-info:last-child {
    padding-left: 10px;
    text-align: left;
}

.user-info .username {
    color: inherit;
}

.user-info .username:hover {
    text-decoration: none;
}

.user-info .rating {
    margin: 0 8px;
}

#player1-rating-right {
    display: none;
}

#active-timer {
    background: rgba(0, 255, 0, 0.6);
}

@media screen and (max-width: 900px) {
    .user-info {
        padding: 0 !important;
        text-align: center !important;
        font-size: 0.8em;
    }

    .user-info .rating,
    #player1-rating-right {
        display: block;
    }

    #player1-rating-left {
        display: none;
    }

    .timer,
    .vs {
        font-size: 1.3em;
    }

    .timer {
        width: 60px;
        padding: 4px 6px;
    }
}
