#scoreboard {
    z-index: 100;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

#scoreboard * {
    margin-bottom: 0;
}

.user-info {
    flex: 1;
}

.timer,
.vs {
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    font-weight: 500;
}

.timer {
    padding: 4px 10px;
}

.vs {
    padding-left: 10px;
    padding-right: 10px;
}

.user-info:first-child {
    padding-right: 10px;
    text-align: right;
}

.user-info:last-child {
    padding-left: 10px;
    text-align: left;
}

.user-info .username {
    color: inherit;
}

.user-info .username:hover {
    text-decoration: none;
}

.user-info .rating {
    margin: 0 8px;
}

#player1-rating-right {
    display: none;
}

#active-timer {
    background: rgba(0, 255, 0, 0.6);
}

@media screen and (max-width: 900px) {
    .user-info {
        display: flex;
        flex-direction: column;
        margin: 0 8px;
        padding: 0 !important;
        text-align: center !important;
    }

    .username {
        font-size: 11px;
        margin-bottom: 2px !important;
    }

    .rating {
        font-size: 11px;
    }

    .user-info .rating,
    #player1-rating-right {
        display: block;
    }

    #player1-rating-left {
        display: none;
    }

    .vs {
        display: none;
    }

    .timer {
        font-size: 18px;
        padding: 4px 6px;
    }
}
