#logo-subtext {
    font-size: 36px;
}

#play-button-container {
    margin-bottom: 80px;
}

#play-now {
    margin-top: 24px;
}

#play-icon {
    height: 20px;
    width: 20px;
    margin-left: 6px;
    transform: translateY(-2px);
}

#social-icon-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.social-icon {
    height: 48px;
    width: 48px;
    margin: 8px;
}

@media screen and (max-width: 768px) {
    #logo-subtext {
        font-size: 24px;
        letter-spacing: 2px;
    }
}
