#turn {
  font-family: 'Designer Block';
  font-size: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  z-index: 100;
  position: absolute;
  top: 56px;
  left: calc(50% - 180px);
  width: 360px;
  text-align: center;
  /* transform: translateX(-50%); */
}