#turn {
    z-index: 100;
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    text-align: center;
    pointer-events: none;
}

@media screen and (max-width: 767px) {
    #turn {
        font-size: 1.3em;
    }
}
