.logo-container {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 0;
}

@media screen and (max-width: 768px) {
    .logo-container .tile {
        width: 25px !important;
        height: 25px !important;
    }
}