.navbar {
    z-index: 500;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 1.1em;
}

@media screen and (max-width: 991px) {
    .desktop-only {
        display: none;
    }

    .nav-item {
        margin-right: 0 !important;
    }

    .nav-link {
        margin-top: 16px;
    }

    .dropdown {
        margin-bottom: 12px;
    }
}

@media screen and (min-width: 992px) {
    .mobile-only {
        display: none;
    }
}
